/SleepExplorer/nbproject/private/
/SleepExplorer/build/
/SleepExplorer/dist/
/SleepExplorer
/Bachelorarbeit/SleepExplorer/nbproject/private/
/Bachelorarbeit/SleepPilot/nbproject/private/
/SleepPilot/nbproject/private/
/SleepPilot/dist/