
.background{
	-fx-background-color: rgb(76,136,174);	
}

.startButtons{
	-fx-background-color: rgb(76,136,174);
	-fx-border-style: solid;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-color: rgb(160,206,224);
	-fx-border-radius: 2; 
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
	-fx-font-size: 15.0;
}

.startButtons:pressed{
	-fx-background-color: rgb(121,191,236);	
}

.popup {
    -fx-background-color: rgb(255,88,88);
    -fx-padding: 10;
    -fx-border-style: dotted;
    -fx-border-color: red; 
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-font-size: 12;
}

.polygon{
	-fx-background-color: rgb(61,191,217);
}

.text-field{
	-fx-font-size: 10;
	-fx-font-family: sans-serif;
	-fx-alignment: center;
}

.textLabel{
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
}

.menuBar{
	-fx-background-color: lightgray;
	-fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: gray;
}

.toolBar{
	-fx-background-color: lightgray;
	-fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: gray;
}