
.background{
	-fx-background-color: rgb(76,136,174);	
}

.appBackground{
	-fx-background-color: white;
}

.menuAndToolBarBackground{
	-fx-background-color: linear-gradient(rgba(76,136,174,0.9), rgba(76,136,174,1));
}

.grid {
	-fx-alignment: center;
}

.startButtons{
	-fx-background-color: rgb(76,136,174);
	-fx-border-style: solid;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-color: rgb(160,206,224);
	-fx-border-radius: 2; 
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
	-fx-font-size: 15.0;
}

.startButtons:pressed{
	-fx-background-color: rgb(121,191,236);	
}

.startButtons:hover{
	-fx-background-color: rgba(121,191,236,0.5);
}

.toolBarButtons{
	-fx-background-color: rgb(76,136,174);
	-fx-border-style: solid;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-color: rgb(160,206,224);
	-fx-border-radius: 2; 
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
	-fx-font-size: 12.0;
}

.toolBarButtons:pressed{
	-fx-background-color: rgb(121,191,236);	
}

.toolBarButtons:hover{
	-fx-background-color: rgba(121,191,236,0.5);
}

.toolBarButtons:selected{
	-fx-background-color: rgba(121,191,236,0.5);
	-fx-text-fill: white;
	-fx-border-style: solid;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-color: rgb(121,191,236);
	-fx-border-radius: 2; 
}

.settingButton{
	-fx-background-color: rgb(76,136,174);
	-fx-border-color: transparent;
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
	-fx-font-size: 12.0;
}

.settingButton:pressed{
	-fx-background-color: rgb(121,191,236);	
}

.settingButton:hover{
	-fx-background-color: rgba(121,191,236,0.5);
}


.choiceBox{
	-fx-background-color: rgb(76,136,174);
	-fx-border-style: solid;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-color: rgb(160,206,224);
	-fx-border-radius: 2; 
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
	-fx-font-size: 12.0;
}

.choiceBox:hover{
	-fx-background-color: rgba(121,191,236,0.5);
}

.choice-box .label{
    -fx-text-fill: white;
}

.check-box .box{
	-fx-background-color: white;
}

.toolBarCheckBox{
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
}

.popup {
    -fx-background-color: rgb(255,88,88);
    -fx-padding: 10;
    -fx-border-style: dotted;
    -fx-border-color: red; 
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-font-size: 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    
}

.popupWithProgress {
	-fx-background-color: rgba(255, 255, 255, 0.5);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-halignment: center;
    -fx-animated: true;
	
}

.popupButton{
	-fx-background-color: rgb(255,88,88);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 0.0);
	-fx-border-style: dotted;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-color: red;
	-fx-border-radius: 2; 
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
	-fx-font-size: 12.0;
}

.popupButton:hover{
	-fx-background-color: rgba(255,88,88,0.8);
}

.progress-bar .track{
    -fx-background-radius: 0, 0, 0, 0;
   	-fx-alignment: center;
    -fx-halignment: center;
    -fx-animated: true;
}

.progress-bar .bar { 
    -fx-background-color: rgb(76,136,174);
    -fx-background-radius: 0, 0, 0, 0;
    -fx-alignment: center;
    -fx-halignment: center;
    -fx-animated: true;
}

.polygon{
	-fx-background-color: rgb(61,191,217);
}

.text-field{
	-fx-font-size: 10;
	-fx-font-family: sans-serif;
	-fx-alignment: center;
}

.textLabel{
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
}

.textLabelDisabled{
	-fx-text-fill: rgba(255,255,255,0.5);
	-fx-font-family: sans-serif;
}

.text-input{
	-fx-text-fill: rgb(3,52,83);
	-fx-font-family: sans-serif;
	-fx-alignment: center;
}

.menuBar{
	-fx-background-color: transparent;
    -fx-text-fill: white;
    
}

.menu-bar .label
{
    -fx-font-family: sans-serif;
    -fx-text-fill: white;
}

.menu-item .label {
  -fx-text-fill: rgb(20,61,87);
}

.menu-item:hover .label {
  -fx-text-fill: white;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.toolBar{
	-fx-background-color: transparent;
	-fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: rgb(3,52,83);
}

.statusBar{
	-fx-background-color: linear-gradient(rgba(76,136,174,0.7), rgba(76,136,174,1));
	-fx-border-style: solid;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-color: rgb(3,52,83);
    -fx-text-fill: white;
}


.chart-series-line {

	-fx-stroke-width: 0.7px;
	-fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: rgb(20,61,87); }

.axis{
	-fx-border-color: transparent;
}

.chart-vertical-zero-line{
	-fx-stroke: transparent;
	-fx-background-color: lightgray;
} 
.chart-horizontal-zero-line  {
    -fx-stroke: transparent;
    -fx-background-color: transparent;
}