.menuAndToolBarBackground{
	-fx-background-color: linear-gradient(rgba(76,136,174,0.9), rgba(76,136,174,1));
}

.textLabel{
	-fx-text-fill: white;
	-fx-font-family: sans-serif;
}

.textLabelDisabled{
	-fx-text-fill: rgba(255,255,255,0.5);
	-fx-font-family: sans-serif;
}